[Desktop Entry]
Comment=Es una notificacion
GenericName=Es una notificacion
Icon=azucena
Name=azucena
StartupNotify=true
Terminal=false
Type=Application
